##target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.xml

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

###idea###
.idea/


# Windows:
Thumbs.db
ehthumbs.db
Desktop.inis

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# Java
*.class

# My configurations:
db.ini
deploy_key_rsa